* {
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Futurice Regular', sans-serif;
}

body {
  color: #111;
}

.background-image {
  min-height: 80vh;
  background: url('assets/bg.jpg') no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  /*background-attachment: fixed;*/
}

/* # Sections */
.section {
  min-height: 100px;
}

.section--intro {
  min-height: 40vh;
  background: rgba(255, 255, 255, .6);
}

.section--info {
  min-height: 40vh;
  background: rgba(255, 255, 255, .9);
}

.section--cta {

}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 50px 0;
  position: relative;
}

h2 {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
}


/* # Header */
.header {
  display: flex;
  align-items: center;
  min-height: 20px;
  padding: 10px 25px;
  background: rgba(255, 255, 255, 1);
}

.header .brand {
  width: 90px;
}


/* # Intro Section */
.mockup {
  max-width: 360px;
  display: inline-block;
  margin: 0 30px -200px 0;

  opacity: 0;
  animation: fade-in 0.6s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.tagline {
  display: inline-block;
  margin-top: 0px;
  font-size: 1.5em;

  opacity: 0;
  animation: fade-in 0.6s;
  animation-delay: 1.4s;
  animation-fill-mode: forwards;
}

.tagline__buttons {
  margin-top: 50px;
  margin-bottom: 20px;
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.link--download {
  margin: 20px 20px 0 0;
  display: inline-block;
  width: 140px;
  height: 54px;
  background: #111;
  padding: 0 25px;
  border-radius: 30px;

  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0, .1);
  transition: box-shadow 0.12s linear;

  display: flex;
  justify-content: center;
  align-items: center;
}

.link--download:hover {
  box-shadow: 0 15px 30px rgba(0,0,0, .2);
}

.link--download__img {
  max-width: 90%;
  margin: 0 auto;
}

/* INFO */

.section--info{
  overflow: hidden;
}

.info-text {
  top: 150px;
  position: relative;
  max-width: 50%;
}

@keyframes slide-up {
  from { transform: rotate(0deg) translate3d(0, 100%, 0); opacity: 0;}
  to { transform: rotate(5deg) translate3d(0, 0, 0); opacity: 1; }
}

@keyframes fade-in {
  from { opacity: 0;}
  to { opacity: 1; }
}

.mockup-map {
  max-width: 300px;
  float: right;
  margin: 70px 50px 0 0;
  position: relative;
  bottom: -50px;
  transform: rotate(5deg) translate3d(0, 100%, 0);

  animation: slide-up 0.55s cubic-bezier(0.26, 0.8, 0.26, 1);
  animation-delay: 2s;
  animation-fill-mode: forwards;
  padding: 20px 10px;
  background: #FFF;
  border-radius: 50px 50px 0 0;

}

/* CTA */
.section--cta {
  text-align: center;
}


.title--cta {
  margin-bottom: 20px;
  font-size: 1.2em;
}

.button--cta {
  background: #FFF;
  text-decoration: none;
  color: #210F00;
  display: inline-block;
  padding: 20px 50px;
  border-radius: 30px;
  text-transform: uppercase;
  border: none;
  box-shadow: 0 3px 20px rgba(0,0,0, .1);
  transition: box-shadow 0.12s linear;
  cursor: pointer;
  outline: none;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.button--cta:hover {
  box-shadow: 0 5px 30px rgba(0,0,0, .15);
}

/* # Footer */
.footer {
  background: #111;
  color: #e8e0da;
  text-align: center;
  font-size: 0.8em;
}

.footer-brand {
  display: block;
  width: 80px;
  margin: 0px auto 20px;
}

.footer__link-row a {
  text-decoration: underline;
  text-transform: uppercase;
  color: #ddd;
  font-size: 0.9em;
  display: inline-block;
  margin: 10px 5px;
}


@media (max-width: 900px) {

  .mockup {
    max-width: 200px;
    width: 80%;
    display: block;
    margin: 0 auto;
    float: none;
  }

  .container {
    padding: 50px 0;
  }

  .tagline {
    margin: 20px auto 0;
    font-size: 0.8em;
    max-width: 180px;
    display: block;
    width: 80%;
  }

  .tagline__buttons {
    flex-direction: column;
    margin: 40px 0 0;
  }

  .link--download {
    width: 120px;
    padding: 0 20px;
    margin: 0 0 15px;
  }

  h2 {
    font-size: 1.5em;
  }

  .info-text {
    top: 0px;
  }

  .mockup-map {
    max-width: 200px;
    margin: 0px auto 0;
    float: none;
    display: block;
    bottom: -70px;
    padding-bottom: 0;
  }
}